<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Lista de Unidades de Medida</h4>
				<div class="table-responsive">
					<table class="table table-hover color-table info-table">
						<thead>
							<tr class="text-sm-center">
								<th></th>
								<th>Id</th>
								<th>Nombre</th>
								<th>Símbolo</th>
							</tr>
						</thead>
						<tbody>
							<tr class="pointer" *ngFor="let measure of measures" (dblclick)="dbClick(measure)">
								<td>
									<button class="btn btn-outline-secondary btn-sm" (click)="dbClick(measure)">
										<i class="fa fa-pencil"></i>
									</button>
								</td>
								<td>{{ measure.measureId }}</td>
								<td>{{ measure.name }}</td>
								<td>{{ measure.sign }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col-md-6">
						<button class="btn btn-info waves-effect waves-light m-r-10" (click)="new()">
							<i class="fa fa-plus fa-fw"></i>Nuevo
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
