<div class="row animated fadeIn">
	<div class="col-lg-7">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">{{ user.username }}</h4>
				<h6 *ngIf="user.role" class="card-subtitle">{{ user.role.name }}</h6>
				<form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f)" class="form p-t-20">
					<div class="form-group">
						<label for="exampleInputuname">Id</label>
						<div class="input-group">
							<div class="input-group-addon"><i class="ti-check-box"></i></div>
							<input
								[(ngModel)]="user.userId"
								name="id"
								type="text"
								class="form-control"
								readonly="readonly"
							/>
						</div>
					</div>
					<div class="form-group">
						<label for="exampleInputuname">Nombre</label>
						<div class="input-group">
							<div class="input-group-addon"><i class="ti-user"></i></div>
							<input
								[(ngModel)]="user.name"
								name="name"
								type="text"
								class="form-control"
								placeholder="Nombre de usuario"
								required
							/>
						</div>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Correo electrónico</label>
						<div class="input-group">
							<div class="input-group-addon"><i class="ti-email"></i></div>
							<input [(ngModel)]="user.email" name="email" type="email" class="form-control" disabled />
						</div>
					</div>
					<button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
						<i class="fa fa-save fa-fw"></i>
						Guardar
					</button>
				</form>
			</div>
		</div>
	</div>

	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Imagen de usuario</h4>
						<h6 class="card-subtitle">{{ user.username }}</h6>
						<!-- <img *ngIf="!imagenTemp" [src]="user.img | imagen" class="w150" /> -->
						<!-- <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150" /> -->
						<div class="text-center">
							<label class="file-input pointer">
								<input
									name="changeImage"
									type="file"
									(change)="seleccionImagen($event.target.files[0])"
									accept="image/*"
									hidden
								/>
								<img *ngIf="!imageTmp" [src]="user.image | image" class="w150" />
								<img *ngIf="imageTmp" [src]="imageTmp" class="w150" />
								<!-- <img [src]="user.image | image" class="w150" alt="user" /> -->
							</label>
						</div>
						<div class="text-center">
							<button
								(click)="cambiarImagen()"
								type="button"
								class="btn btn-success waves-effect waves-light m-r-10"
								[disabled]="!imagenSubir"
							>
								<i class="fa fa-save fa-fw"></i>
								Guardar imagen
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Cambio de Contraseña</h4>
						<h6 class="card-subtitle">{{ user.username }}</h6>
						<form>
							<div class="form-group">
								<label for="password1">Nueva Contraseña</label>
								<input
									#password1
									type="password"
									class="form-control"
									id="password1"
									(keyup)="checkPassword(password1.value, password2.value)"
									placeholder="Ingrese la nueva contraseña"
								/>
							</div>
							<div class="form-group">
								<label for="password2">Repetir Contraseña</label>
								<input
									#password2
									type="password"
									class="form-control"
									id="password2"
									(keyup)="checkPassword(password1.value, password2.value)"
									placeholder="Vuelva a ingresar la nueva contraseña"
								/>
							</div>
							<div class="text-center">
								<button
									type="button"
									[disabled]="!equals"
									class="btn btn-success"
									(click)="changePassword(password1.value)"
								>
									<i class="fa fa-save fa-fw"></i>
									Cambiar Contraseña
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
