<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
	<!-- Sidebar scroll-->
	<div class="scroll-sidebar">
		<!-- Sidebar navigation-->
		<nav class="sidebar-nav">
			<ul id="sidebarnav">
				<li class="user-profile">
					<a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
						<img [src]="userService.user.image | image" alt="user" />
						<span class="hide-menu">{{ userService.user.name }}</span>
					</a>
					<ul aria-expanded="false" class="collapse">
						<li>
							<a routerLinkActive="active" routerLink="/welcome"><i class="fa fa-home fa-fw"></i>Inicio </a>
						</li>
						<li>
							<a routerLinkActive="active" routerLink="/perfil"><i class="fa fa-user fa-fw"></i>Perfil </a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="userService.logout()" class="pointer">
								<i class="fa fa-power-off fa-fw"></i>Logout
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-devider"></li>
				<li class="nav-small-cap">MENÚ</li>
				<li *ngFor="let menu of menus">
					<a href="javascript:void(0)" class="has-arrow waves-effect waves-dark" aria-expanded="false">
						<i [class]="menu.icon"></i>
						<span class="hide-menu">
							{{ menu.name }}
							<span class="label label-rouded label-themecolor pull-right">
								{{ menu.submenus.length }}
							</span>
						</span>
					</a>
					<ul aria-expanded="false">
						<li *ngFor="let submenu of menu.submenus">
							<a routerLinkActive="active" [routerLink]="[submenu.path]">{{ submenu.name }} </a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- End Sidebar navigation -->
	</div>
	<!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
