<div class="row animated fadeIn" *ngIf="cargando">
	<div class="col-sm-12 text-center">
		<strong>Cargando</strong>
		<br />
		<i class="fa fa-spinner fa-pulse fa-2x"></i>
		<br />
		<span>Espere por favor</span>
	</div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Roles del Sistema</h3>
				<table class="table table-hover color-table info-table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let role of roles" class="pointer" (dblclick)="choose(role)">
							<td>{{ role.roleId }}</td>
							<td>{{ role.name }}</td>
						</tr>
					</tbody>
				</table>

				<div class="row">
					<div class="col-md-6">
						<button class="btn btn-info waves-effect waves-light m-r-10" (click)="new()">
							<i class="fa fa-plus fa-fw"></i>Nuevo
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
