<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer">
	<div class="row">
		<div class="col-md-12 text-center">
			&copy; {{ year }} Free Lines desarrollado por <a href="http://www.webmas.pe">Webmas Peru</a>
		</div>
	</div>
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
